* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	//width: 100vw;
	font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
}

.container {
	width: 1200px;
	height: 100%;
	margin: auto;
}
.row {
	display: flex;
}

.col-2 {
	width: 20%;
}

.col-6 {
	width: 50%;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
